html {
  image-rendering: -webkit-optimize-contrast;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 0 15px;
  border-bottom: 1px solid var(--black-pearl);
}

/* Background Color Start */
.section_bg_primary {
  background-color: var(--bg-primary);
}
.section_bg_secondary {
  background-color: var(--bg-secondary);
}
.section_bg_tertiary {
  background-color: var(--bg-tertiary);
}
.section_bg_purple {
  background-color: var(--purple);
}
.section_bg_beige{
  background-color: var(--pink);
}
.section_bg_beige_darker {
  background-color: var(--beige-darker);
}

/* Background Color End*/
/* Font Start*/
h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}
h5{
  display: block;
  margin: 0px;
}
.section_bg_beige h1,
.section_bg_beige h2,
.section_bg_beige h3,
.section_bg_yellow h2,
.section_bg_beige_darker h2 {
  color: var(--black);
}

.section_bg_yellow p,
.section_bg_beige p,
.section_bg_beige li,
.section_bg_beige_darker p {
  color: var(--black);
}
.section_bg_purple h2,
.section_bg_purple h3,
.section_bg_purple p {
  color: var(--white);
}

.project_hover h3,
.project_hover p {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.project_hover:hover h3,
.project_hover:hover p {
  color: var(--purple);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
i{
  font-weight: 600;
}
/* Font End */
/* Button Start*/
.numicon img{
  width: 32px;
}

/* Menu */
#navigation a {
  color: var(--black-pearl);
}

.menu {
  position: relative;
  z-index: 111;
}

.menu .logo {
  width: 74px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#fixedbar {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.85);
}

.fixed-header li a,
.banner li a {
  position: relative;
}

.fixed-header li:hover a:after,
.banner li:hover a:after {
  width: 100%;
}

.fixed-header li a:after,
.banner li a:after {
  content: "";
  width: 0%;
  border-bottom: 1px solid #f39f00;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

nav {
  z-index: 111;
}

.nav a {
  font-size: 0.88rem;
  display: inline-block;
  line-height: 3;
  padding: 0 1rem;
}

nav li:last-child {
  margin-right: 0;
}

/*menu for mobile*/
.menu_m .logo {
  width: 60px;
  position: fixed;
  left: 16px;
  top: 12px;
}

.menubox_m.open {
  left: 0px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  opacity: 1;
  visibility: visible;
}

.menubox_m {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}

.menu_btn.active .top {
  transform-origin: left top;
  transform: rotate(45deg);
}

.menu_btn.active .bottom {
  top: 21px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

.menu_btn .middle {
  visibility: visible;
  opacity: 1;
}

.menu_btn.active .middle {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
}

nav .menubox_m>ul {
  text-align: left;
  padding: 15% 6%;
  font-size: 1.25rem;
  line-height: 1;
}

nav .menubox_m ul li a {
  padding: 1.5rem 0;
  display: block;
}

.uiux .subui {
  text-align: left;
}

.close_menu {
  font-size: 1.25rem;
  text-align: center;
}

.menu_m {
  position: fixed;
  padding-top: 0;
  margin-top: -1.5rem;
  width: 100%;
  display: none;
}

nav .menubox_m>ul>li {
  border-bottom: 1px solid #a2a2a2;
}

nav .menubox_m>ul>li:last-child {
  border: none;
}

.menu_btn {
  position: fixed;
  top: 15px;
  right: 15px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.menu_btn .middle {
  top: 10px;
}

.menu_btn .bottom {
  top: 20px;
}

.menu_btn span {
  background: #a2a2a2;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
  border-radius: 10px;
}

.menu_m.open {
  height: 100vh;
}

@media (max-width: 576px) {
  body {
    padding-top: 4rem;
  }

  #navigation {
    display: none;
  }

  .menu_m {
    display: block;
  }
}
.button{
  text-transform: uppercase;
  margin: auto auto;
  width: 30%;
  line-height: 1rem;
  padding: 14px 0;
  border-radius: 30px;
  display: block;
  text-align: center;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.button:hover{
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
#index .button{
  color: var(--white);
  border: 1px solid #ffffff;
}
#index .button:hover{
  background-color: var(--white);
  color: var(--purple);
}
.section_bg_secondary .button, #wvt .button{
  color: var(--black-pearl);
  border: 1px solid var(--black-pearl);
}
#wvt .button{
  color: var(--white);
  border: 1px solid var(--white);
}
.section_bg_secondary .button:hover, #wvt .button:hover{
  color:var(--white);
  background-color: var(--purple);
  border: 1px solid var(--purple);
}
#wvt #challenge{
  width: 100%;
padding: 2rem;
border-radius: 10px;
}
.text-white{
  color: var(--white);
}
/* Index Start*/
#ind_about {
  letter-spacing: 1px;
}

#ind_about .container {
  position: relative;
}

#ind_about .status {
  letter-spacing: 2px;
  display: inline-block;
  position: relative;
}

#ind_about .circle {
  border-radius: 100%;
  background-color: var(--yellow);
  width: 100px;
  height: 100px;
  position: absolute;
  right: 15px;
  top: -6rem;
}

#ind_about .circle .arrow_down {
  width: 60px;
  height: 60px;
  margin: 20px;
}
/* Index End*/
/* Banner Start */
.mousebox {
  width: 24px;
  position: absolute;
  bottom: 0;
  left: 15px;
}

.mousebox .arrow {
  width: 12px;
  margin: 0 auto;
  height: 25px;
  padding-top: 12px;
  animation-duration: 0.5s;
  animation-name: arrowDown;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes arrowDown {
  from {
    padding-top: 12px;
  }

  to {
    padding-top: 0px;
  }
}

/* Banner End */
/*Footer Start*/
footer {
  color: var(--black);
  padding: 2rem 0;
  background-color: var(--beige);
}

footer h2 {
  text-transform: uppercase;
  color: var(--black);
}

footer a {
  display: inline-block;
  margin-right: 10px;
  color: var(--black);
  padding: 8px;
}

footer a:hover {
  display: inline-block;
  margin-right: 10px;
  color: var(--black);
  background-color: var(--beige-darker);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

footer .logo img {
  width: 80px;
  margin: 0 auto 15px;
  vertical-align: top;
}

footer .contact {
  display: inline-block;
  color: var(--black);
}

footer .title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}

footer .contact img {
  width: 40px;
}

.footer_credit {
  font-size: 0.8rem;
}

/*Footer End*/
#up #Solutions .problem {
  color: var(--beige);
  color: red;
}
/* Article Start */
#optimization h5{
  color: var(--font-secondary);
}
#wvt h1, #am h1, #fc h1, #up h1{
  margin-bottom: 2rem;
}
#wvt h2, #am h2, #fc h2, #up h2, #index h2{
  margin-bottom: 2rem;
}
#wvt h5{
  margin-bottom: 0.4rem;
}
.card{
  padding: 2rem;
  border-radius: 12px;
  border: none;
  display: block;
}
/* Article End */
/* Wvt Start */
#wvt #achievement{
  position: relative;
}
#wvt #achievement::before{ 
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
#wvt #achievement::after{ 
  content: "";
  background-image: url(../img/wvt/test.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
}
#wvt #achievement .card{
background-color: rgba(255,255,255,0.85);
color: var(--font-primary);
}
#wvt #achievement .icon{
  margin: 1.5rem;
}
#wvt #achievement .icon img{
  width: 60%;
  height: 60%;
}
#wvt #challenge .card .num{
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  position: relative;
}
#wvt #challenge .card .num span{
  font-size: 1.8rem;
  position: absolute;
  top: 6px;
  left: 32px;
}
#wvt #research .list {
  padding-left: 20px;
  list-style: disc;
}
#wvt .img60 img{
  width: 60%;
}
#wvt .design_container{
  background-color: var(--bg-primary);
  padding: 2rem 1.4rem;
  border-radius: 20px;
}

/* #wvt .painpoint {
  padding: 1rem 1.2rem;
  border-radius: 6px;
  color: var(--black);
} */

/* Wvt End */
.link,
.section_bg_beige .link {
  font-style: italic;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom: 1px solid var(--purple);
  font-weight: 600;
  color: var(--purple);
}

/*Animation*/
.overhiddenBox {
  overflow: hidden;
}

.overhiddenBox h2 {
  transform: translateY(100%);
}

.fadeIn {
  opacity: 1;
}

/* Achievement */
#achievement .subtitle {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--font-secondary);
}

#achievement .performance {
  margin: 1rem 0;
}

.list_yellow li {
  margin-bottom: 0.5rem;
  position: relative;
}

.list_yellow li:before {
  content: "";
  border-radius: 100%;
  background-color: var(--yellow);
  width: 8px;
  height: 8px;
  position: absolute;
  top: 10.5px;
  left: 0;
}

.list_yellow li {
  padding-left: 16px;
}

/* UrCosme Start */

/* UrCosme End */
/* American Humane Start */
#am #achievement .card{
  background-color: var(--bg-primary);
  color: var(--font-primary);
  }
#am #achievement .card .num{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
}
#am #achievement .card .num span{
    font-size: 1.8rem;
    display: inline;
    padding-left: 6px;
}
#am #overview .numicon {
  display: inline-block;
  margin-right: 8px;
}

#am #overview p {
  display: inline-block;
}

#am #result li {
  width: 32.8%;
  display: inline-block;
  padding: 0.5rem;
  vertical-align: top;
}

#am #result span,
#am #prototype_result span {
  font-size: 1rem;
}

#am #prototype_result li {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  padding: 0.5rem;
}

#am #heuristic .numicon {
  display: inline-block;
  margin-right: 8px;
}

#am #heuristic p {
  display: inline-block;
}

#am #usability .goal {
  padding: 1rem 1.2rem;
  border-radius: 6px;
}

#am #usability .list li {
  color: var(--beige);
}

#am #usability .list {
  padding-left: 20px;
  list-style: disc;
}

/* American Humane End */
/* Up Study Start */
#up .quote {
  margin: 1rem 0 1rem;
  padding: 1.4rem;
  border-radius: 12px;
}

#up #Audience .expectation {
  margin-right: 10rem;
}

#up #Audience .numicon img {
  width: 100px;
}

#up ul .numicon {
  display: inline-block;
  margin-right: 8px;
}

/* Up Study End */
/* Lab Start */
#lab .result img,
#lab .community img {
  width: 70%;
}

/* Lab End */
/*下一頁設定---開始*/
.nextarticle {
  margin: 0 auto;
  width: 80%;
}

.nextarticle .normalBtn {
  width: 100%;
}

.nextarticle .right {
  text-align: right;
}

/*下一頁設定---結束*/

.step4_ana img {
  margin: 30px auto 0;
  width: 70%;
}

.persona_name {
  text-align: center;
}

.persona_box {
  display: table;
}

.persona_box ul {
  padding-inline-start: 0px;
}

.persona_box ul li {
  margin-bottom: 15px;
}

.persona_box .persona_l {
  width: 65px;
}

.persona_box .persona_l,
.persona_box .persona_r {
  display: table-cell;
}

.health .step6 img,
.health .step7 img {
  margin: 0 auto;
  width: 70%;
}

@media (max-width: 1900px) {}

@media (max-width: 1080px) {}

@media (max-width: 992px) {
  .mousebox {
    width: 18px;
  }

  .more_menu {
    font-size: 12px;
    width: 80%;
    margin-left: -45.5%;
  }
}

@media (max-width: 768px) {

  .mousebox {
    width: 25px;
    left: 50%;
    bottom: -40%;
    margin-left: -17.5px;
  }

  .more_menu {
    margin-left: -46%;
    width: 82%;
  }

  .more_menu li {
    padding: 0.5rem 0 0.2rem;
  }

  .sidemenu {
    display: none;
  }
}

@media (max-width: 576px) {}

@media screen and (min-width: 544px) and (max-width: 767.9px) {}

@media screen and (max-width: 543.9px) {}

/*sidemenu---開始*/
.sidemenu a {
  color: #606060;
}

.fixed-sidemenu.sidemenu {
  z-index: 111;
  position: fixed;
  top: 20%;
  left: 0px;
  width: 20%;
}

.fixed-sidemenu li,
.sidemenu li {
  margin-bottom: 0.8rem;
  font-size: 0.875rem;
}

.visible-title {
  visibility: visible;
}

@media (min-width: 1028px) {}

@media (max-width: 768px) {

  .am .inventory,
  .am .personas {
    display: inline-grid;
    order: 2;
  }
}

/*sidemenu---結束*/
@media (min-width: 375px) {}

/*@Media_220117*/
@media (min-width: 1200px) {
  .container.article {
    max-width: 960px;
  }
  .container-sm,.article {
    max-width: 740px;
  }
}

@media (max-width: 992px) {}

@media (max-width: 960px) {}

/* By sky */

@media (max-width: 768px) {

  h1,
  .h1 {
    font-size: 2.6rem;
  }

  h2,
  .h2 {
    font-size: 2.4rem;
  }

  .row.mb-8.work_content .work_content_txt {
    display: inline-grid;
    order: 2;
  }
}
#workexperience li{
  padding-top: 1rem;
  padding-bottom: 1rem;
border-bottom: 1px solid var(--gray);
}
#workexperience li:last-child{
  border-bottom: 0px;
}

/* Finger Crossed */
.marquee_container {
  position: relative;
  display: block;
  width: 100%;
  height: 140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
}
.marquee{
  position: absolute;
  display: block;
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
}
.marquee span{ 
  display: inline-block;
  padding-left: 100%;
  text-align: center;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;
  line-height: 140px;
  font-size: 6rem;
  font-weight: 600;
  animation: marquee 20s linear infinite;
  text-transform: uppercase;
  color: var(--white);
}

.marquee2 span{
  animation-delay: 10s;
}
@keyframes marquee {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0);
  }
}


