/*
H1 32px 1.77rem
H2
P 18px 1rem
Description 16px 0.88rem
font120  7.5rem;
font30 1.66rem;
font24 1.5rem;
font20 1.25rem;
font12 0.75rem;
*/
html {
  image-rendering: -webkit-optimize-contrast;
}

a {
  color: var(--dark);
}

a:hover {
  text-decoration: none;
  color: var(--dark);
}

img {
  width: 100%;
}

.container-fluid {
  position: relative;
}

.divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--gray);
}

/*menu*/
.menu {
  position: relative;
  z-index: 111;
}

.menu .logo {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#fixedbar {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.85);
}

.fixed-header li a,
.banner li a {
  position: relative;
}

.fixed-header li:hover a:after,
.banner li:hover a:after {
  width: 100%;
}

.fixed-header li a:after,
.banner li a:after {
  content: "";
  width: 0%;
  border-bottom: 1px solid #F39F00;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

nav {
  z-index: 111;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
}

.nav a {
  font-size: 0.88rem;
  display: inline-block;
  line-height: 3;
  padding: 0 1rem;
}

nav li:last-child {
  margin-right: 0;
}

/*
nav li.uiux .submenu {
    position: absolute;
    left: -10px;
    top: 20px;
    background: #fff;
    width: 200px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
    opacity: 100;
    visibility: hidden;
    display: block;
    text-align: left;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    padding-left: 0;
}

nav li.uiux .submenu li {
    list-style: none;
}

nav li.uiux:hover .submenu {
    visibility: visible;
}

.submenu li a {
    width: 100%;
    padding: 15px 10px;
    display: block;
}
*/
/*menu for mobile*/
.menu_m .logo {
  width: 60px;
  position: fixed;
  left: 16px;
  top: 12px;
}

.menubox_m.open {
  left: 0px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  opacity: 1;
  visibility: visible;
}

.menubox_m {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.menu_btn.active .top {
  transform-origin: left top;
  transform: rotate(45deg);
}

.menu_btn.active .bottom {
  top: 21px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

.menu_btn .middle {
  visibility: visible;
  opacity: 1;
}

.menu_btn.active .middle {
  visibility: hidden;
  opacity: 0;
  transition: opacity .35s, visibility .35s, height .35s;
}

nav .menubox_m>ul {
  text-align: left;
  padding: 15% 6%;
  font-size: 1.25rem;
  line-height: 1;
}

nav .menubox_m ul li a {
  padding: 1.5rem 0;
  display: block;
}

.uiux .subui {
  text-align: left;
}

.close_menu {
  font-size: 1.25rem;
  text-align: center;
}

.menu_m {
  position: fixed;
  padding-top: 0;
  margin-top: -1.5rem;
  width: 100%;
  display: none;
}

nav .menubox_m>ul>li {
  border-bottom: 1px solid #a2a2a2;
}

nav .menubox_m>ul>li:last-child {
  border: none;
}

.menu_btn {
  position: fixed;
  top: 15px;
  right: 15px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.menu_btn .middle {
  top: 10px;
}

.menu_btn .bottom {
  top: 20px;
}

.menu_btn span {
  background: #a2a2a2;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
  border-radius: 10px;
}

.menu_m.open {
  height: 100vh;
}

@media (max-width: 576px) {
  body {
    padding-top: 4rem;
  }

  #navigation {
    display: none;
  }

  .menu_m {
    display: block;
  }
}

/*Index*/
#ind_about {
  margin: 5rem 0rem;
}

#ind_about {
  font-family: 'proxima-nova';
  font-weight: 700;
  font-size: 2.2rem;
  letter-spacing: 0px;
  color: var(--gray-dark);
}

#ind_about .tags {
  font-size: 16px;
  line-height: 1.8;
  color: var(--gray);
}
.project_name{
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
  font-family: 'proxima-nova';
  letter-spacing: 0px;
  color: var(--gray-dark);
  line-height: 1.2;
}
.sub_project_name{
  font-family: 'proxima-nova';
  font-weight: 600;
}

/*banner*/
.mousebox {
  width: 24px;
  position: absolute;
  bottom: 0;
  left: 15px;
}

.mousebox .arrow {
  width: 12px;
  margin: 0 auto;
  height: 25px;
  padding-top: 12px;
  animation-duration: 0.5s;
  animation-name: arrowDown;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes arrowDown {
  from {
    padding-top: 12px;
  }

  to {
    padding-top: 0px;
  }
}

.container.article {
  position: relative;
}

/*footer*/
footer {
  text-align: center;
  margin: 2rem 0;
}

footer .contact {
  font-size: 0.75rem;
  display: inline-block;
}

footer a {
  display: block;
  margin-right: 10px;
}

footer .logo img {
  width: 80px;
  margin: 0 auto 15px;
  vertical-align: top;
}

footer .indLogo,
footer .indLogo a {
  display: inline-block;
}

footer .contact img {
  width: 30px;
}

footer .linkedin a {
  margin-right: 0px;
}

/*about_content*/
.aboutpic .logo {
  width: 120px;
  position: absolute;
  top: -5%;
  left: -5%;
}

.about_content .en {
  margin-bottom: 70px;
}

.about_content {
  position: relative;
  width: 50%;
  margin: 10% 0;
  padding-right: 20px;
}

.about_img {
  width: 94%;
}

.work_title {
  font-size: 1.66rem;
  margin-bottom: 1rem;
  text-align: center;
}

.works {
  padding-top: 3rem;
}

.works .row {
  margin-bottom: 3rem;
}

.work_content:hover .works_img:after {
  opacity: 0.5;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.works_img:after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

@media (max-width: 786px) {
  .work_content {
    margin-bottom: 3rem;
  }
}

.works_img {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.works .btn {
  width: 280px;
  border: 1px solid #cccccc;
  margin: 0 auto 200px;
  padding: 44px 0;
  color: #585858;
  text-transform: uppercase;
}

.moreBtn {
  position: relative;
  left: 0px;
  top: 18px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.normalBtn:hover .moreBtn {
  left: 80px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.normalBtn:hover .moreBtn.left {
  left: -40px;
}

.moreBtn.left .more {
  margin-left: 10px;
  margin-right: 0;
}

.normalBtn {
  display: block;
  width: 220px;
  height: 60px;
  margin: 0 auto;
  position: relative;
}

.normalBtn.btnRight {
  margin-right: -25px;
}

.more {
  font-size: 0.875rem;
  display: inline-block;
  margin-right: 10px;
}

.more_line {
  width: 110px;
  height: 1px;
  border-top: 1px solid #979797;
  display: inline-block;
  vertical-align: super;
  position: relative;
}

.moreBtn.left .more_line:after {
  transform: scaleY(-1);
  top: -4px;
  left: 0;
}

.more_line:after {
  content: "";
  background: url(../img/arrow_right.svg) no-repeat;
  width: 8px;
  height: 10px;
  display: block;
  position: absolute;
  right: 0;
}

.about_btn .more_btn {
  position: absolute;
  left: 0px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

/*gra_content*/
.graphic_works {
  padding-top: 20%;
}

.gra_title {
  position: absolute;
  right: -202px;
}

.gra_content {
  margin: 6% auto 15rem;
  position: relative;
}

.gra_bg {
  position: absolute;
  right: -21%;
  top: -14%;
  z-index: -1;
}

.gra_img {
  margin-bottom: 12px;
}

.gra_box {
  margin-bottom: 70px;
}

.gra_content .col-md-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.gra_title:after {
  content: "";
  display: block;
  position: absolute;
  top: 180px;
  right: -42px;
  width: 135%;
  height: 60rem;
  background-color: #C2D7E0;
  z-index: -1;
}

/*web_content*/
#web {
  padding-top: 11rem;
}

.web_works {
  background: #E0E0C2;
  padding: 7.5% 0% 3.5%;
  margin-bottom: 100px;
}

.web_works .row {
  width: 96%;
  margin: 0 auto;
}

.web_works .col-md-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.web_title {
  position: absolute;
  left: 68px;
  top: -0rem;
}

.web_img {
  margin-bottom: 12px;
}

/*more_works*/
.more_works {
  position: relative;
}

.more_works:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.more_menu {
  text-align: center;
  z-index: 111;
  position: absolute;
  top: 60%;
  width: 60%;
  left: 50%;
  margin-left: -34%;
}
.more_menu li a {
  color: #ffffff;
}

/*各專案顏色設定----開始*/
.article.urcosme .txt span {
  background-color: #E5C0C9;
}

.article.upstudy .title {
  color: #963f00;
}

.article.upstudy .txt span {
  background-color: #f3dbca;
}

.article.health .title {
  color: #3256e0;
}

.article.health .txt span {
  color: #3256e0;
}

.article.erp .title {
  color: #00327d;
}

.article.erp .txt span {
  background-color: #d7eaff;
}

/*各專案顏色設定----結束*/
/*article*/
.article #Intro h1 {
  font-family: 'proxima-nova';
  font-weight: 700;
  font-size: 3.8rem;
  letter-spacing: 0px;
  color: var(--gray-dark);
  line-height: 1.2;
}

.article h2 {
  font-size: 2.8rem;
  font-weight: 600;
  width: 100%;
  font-family: 'proxima-nova';
  letter-spacing: 0px;
  color: var(--gray-dark);
  line-height: 1.2;
}

.article h3 {
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
  font-family: 'proxima-nova';
  letter-spacing: 0px;
  color: var(--gray-dark);
  line-height: 1.2;
}

article#wvt h3 {
  color: var(--orange);
}

.article h3.arrow:before {
  background-image: url(../img/Icon_ArrowRight.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  content: "";
  background-position-y: 1px;
  margin-right: 4px;
}

.article .pro_desc {
  font-size: 14px;
}

.article .description {
  font-size: 16px;
}

#wvt .highlight_txt {
  background-color: var(--white);
  color: var(--dark);
  /*    background-color: #F75C2F;*/
}

.highlight_txt {
  display: inline-block;
  /*    background-color: var(--white);*/
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  font-family: 'proxima-nova';
  border-radius: 6px;
  /*    font-size: 1rem;*/
}

.article .subtitle {
  font-family: 'proxima-nova';
  font-weight: 600;
}

.up #Solutions .problem {
  color: var(--brown);
}

#wvt #Solutions .problem {
  color: var(--orange);
}

.am #Recommendations .problem {
  color: var(--blue);
}

#Solutions .problem,
#Recommendations .problem {
  font-weight: 600;
  font-family: 'proxima-nova';
  font-size: 16px;
}

#wvt #link {
  border-color: #F75C2F;
  color: #F75C2F;
}

#link {
  font-style: italic;
  font-weight: 700;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom: 1px solid #F75C2F;
}

.img_description {
  font-size: 0.9rem;
  color: #828282;
}

.img_description:before {
  background-image: url('../img/Icon_arrow_up.svg');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  display: inline-block;
  width: 20px;
  height: 14px;
  content: "";
}

/*Animation*/
#OverhiddenBox{
  overflow: hidden;
}
#OverhiddenBox h2{
  transform: translateY(100%);
}
.fadeIn {
  opacity: 1;
}

/*wvt Research*/
article .bg_white {
  background-color: var(--white);
}
article .bg_dark .txt{
  color: var(--white);
}
article .bg_dark {
  background-color: var(--orange);
}

.fluid_container {
  max-width: 960px;
  margin: 0 auto;
  padding: 70px 15px;
}

.painpoint {
  padding: 1rem 1.2rem;
  background-color: var(--orange-light);
  border-radius: 6px;
}

.painpoint.h100 {
  height: 100%;
}
/* wvt Prototype */
.prototype{
  background-color: var(--gray-light);
}
/*Solutions*/
#Solutions .item {
  font-size: 1rem;
}
.item .numicon{
  width: 32px;
}
/*wvt Goals*/
#Goal .item .numicon {
  display: inline-block;
}
#Goal .item .txt{
  display: inline-block;
}
#Achievement .achieve{
  font-size: 44px;
  font-weight: bold;
  line-height: 1.2;
  color: var(--gray-dark);
}
/*am*/
.am .article ul {
  padding-left: 20px;
}

.am #link {
  color: var(--blue);
  border-color: var(--blue);
}

.am .light_bg {
  padding: 1rem 2rem;
  border-radius: 6px;
  background-color: var(--blue-light);
}
.am #Goals .numicon,
.am #Goals .txt {
  display: inline-block;
}

.am #Stakeholder {
  background-image: url(../img/am_review2.png);
  background-repeat: no-repeat;
  padding-bottom: 6.2rem;
  background-size: 60%;
  background-position: bottom right;
}

.stakeholder_img {
  display: none;
}

article .bg_dark h2 {
  color: var(--white);
}

.am #Recommendations h3 {
  color: var(--blue);
}

.am.bg_dark {
  background-color: var(--blue);
}

.am .test_result,
.am .prototype_result {
  display: block;
  overflow: hidden;
}

.am .test_result h2,
.am .prototype_result h2 {
  color: var(--white);
}

.am .test_result ul,
.am .prototype_result ul {
  font-family: 'proxima-nova';
  font-weight: 700;
  letter-spacing: 0px;
}

.am .prototype_result li {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  margin-bottom: 1.3rem;
}

.am .test_result li {
  width: 33%;
  display: inline-block;
  padding: 1rem;
  margin-bottom: 0.3rem;
  vertical-align: top;
}

.am .test_result span,
.am .prototype_result span {
  font-size: 1rem;
}

.am .test_result .percentage,
.am .prototype_result .percentage {
  font-size: 3rem;
  line-height: 1.2;
}

/*up-study*/
.up.bg_dark {
  background-color: var(--brown);
}

/*下一頁設定---開始*/
.nextarticle {
  margin: 0 auto;
  width: 80%;
}

.nextarticle .normalBtn {
  width: 100%;
}

.nextarticle .right {
  text-align: right;
}

/*下一頁設定---結束*/
/*health*/
.health_ana {
  width: 80%;
  margin: 30px auto 0;
}

.health .step2 .col-md-6,
.health .step2 .col-md-12 {
  padding: 50px 48px;
}

.step4_ana img {
  margin: 30px auto 0;
  width: 70%;
}

.persona_name {
  text-align: center;
}

.persona_box {
  display: table;
}

.persona_box ul {
  padding-inline-start: 0px;
}

.persona_box ul li {
  margin-bottom: 15px;
}

.persona_box .persona_l {
  width: 65px;
}

.persona_box .persona_l,
.persona_box .persona_r {
  display: table-cell;
}

.health .step6 img,
.health .step7 img {
  margin: 0 auto;
  width: 70%;
}

.container-fluid img {
  margin-top: 10px;
}

/*about*/
.aboutpic {
  margin-bottom: 30px;
}

.aboutme .txt {
  margin-top: 1rem;
}

.aboutme {
  line-height: 1.8;
}

.years_txt {
  width: 100%;
  font-weight: bold;
  font-size: 0.75rem;
  margin-bottom: 8px;
  text-align: left;
}

.about .project_name {
  width: 100%;
  font-weight: bold;
}

.row.mb-30 {
  margin-bottom: 30px;
}

.expbox {
  position: relative;
}

.exp {
  position: absolute;
  font-size: 7.5rem;
  font-weight: bold;
  right: 0px;
  top: 0px;
  z-index: -1;
  color: #cccccc;
}

.exp_line {
  content: "";
  width: 1px;
  height: 400px;
  border-left: 1px solid #cccccc;
  display: inline-block;
  position: absolute;
  right: 360px;
  top: 200px;
}

/*ur*/
.ur_uj {
  width: 100%;
}

.ur_ana {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.ur_icon {
  margin: 0 auto;
  width: 180px;
}

.ur_icon .txt {
  margin-top: 10px;
  text-align: center;
}

/*upstudy*/
.upstudy .link {
  color: #F39F00;
  position: relative;
  font-weight: bold;
}

.upstudy .link:after {
  content: "";
  width: 0%;
  border-bottom: 1px solid #F39F00;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.upstudy .link:hover:after {
  width: 100%;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.upstudy .process {
  width: 70%;
  margin: 0 auto;
}

.article .ana_com {
  margin-bottom: 50px;
}

/*lab*/
.lab .step1 .cir {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 1900px) {}

@media (max-width: 1080px) {
  .article .mainpic {
    height: 35rem;
  }
}

@media (max-width: 992px) {
  .mousebox {
    width: 18px;
  }

  .more_menu {
    font-size: 12px;
    width: 80%;
    margin-left: -45.5%;
  }

  .article .mainpic {
    height: 24rem;
  }
}

@media (max-width: 768px) {
  .mainpic {
    margin-bottom: 12rem;
  }

  .mainpic .normalBtn {
    margin-top: 60px;
  }

  .mousebox {
    width: 25px;
    left: 50%;
    bottom: -40%;
    margin-left: -17.5px;
  }

  .health .step4_ana img,
  .health .step6 img,
  .health .step7 img {
    width: 100%;
  }

  .more_menu {
    margin-left: -46%;
    width: 82%;
  }

  .more_menu li {
    padding: 0.5rem 0 0.2rem;
  }

  .sidemenu {
    display: none;
  }
}

@media (max-width: 576px) {
  .mainpic {
    height: 25rem;
  }

  .article .title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 544px) and (max-width: 767.9px) {

  .drupal,
  .profile {
    order: 2;
  }

  .mt-6 {
    margin-top: 1rem !important;
  }

  .mb-7 {
    margin-bottom: 3rem !important;
  }
}

@media screen and (max-width: 543.9px) {
  /*
    .mt-6 {
        margin-top: 1rem !important;
    }
*/
  /*
    .mb-7 {
        margin-bottom: 1rem !important;
    }
*/
}

/*sidemenu---開始*/
.sidemenu a {
  color: #606060;
}

.fixed-sidemenu.sidemenu {
  z-index: 111;
  position: fixed;
  top: 20%;
  left: 0px;
  width: 20%;
}

.fixed-sidemenu li,
.sidemenu li {
  margin-bottom: 0.8rem;
  font-size: 0.875rem;
}

.visible-title {
  visibility: visible;
}

@media (min-width: 1028px) {}

@media (max-width: 786px) {

  #Solutions .architecture,
  #Solutions .information,
  .am .inventory,
  .am .personas {
    order: 2;
  }

  #Solutions .image {
    margin-bottom: 2rem;
  }

  .am .stakeholder_img {
    display: block;
  }

  .am #Stakeholder {
    background: none;
    padding: 2rem;
  }

  .am .inventory {
    margin-top: 1rem;
  }

  .am #Research .percentage {
    margin: 1rem 0;
  }
}

/*sidemenu---結束*/
@media (min-width: 375px) {}

/*@Media_220117*/
@media (min-width: 1200px) {
  .container.article {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .article #Intro h1 {
    font-size: 3rem;
  }

  .article h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 960px) {
  .am .test_result li {
    width: 49%;
  }
}
